* {
  margin: 0;
  padding: 0;
}

.one {
  background-color: cadetblue;
}

.two {
  background-color: blueviolet;
}

.three {
  background-color: chartreuse;
}

.four {
  background-color: coral;
}

.five {
  background-color: yellow;
}

/*=================================
    grid-template-rows/columns:
==================================*/
/* .container {
  display: grid;
  grid-template-rows: 50px 50px;
  grid-template-columns: 50px 50px 50px;
} */

/*=================================
    grid-template:
==================================*/
/* .container {
  display: grid;
  grid-template: 50px 50px / 50px 50px;
  border: 1px solid black;

} */

/*=================================
    implicit way of defining grid
==================================*/
/* .container {
  display: grid;
  grid-template-columns: 50px 50px; */
/*----- here the dimensions of each column and row
  is explicitly mentioned-------*/
/* grid-auto-rows: 50px;
  grid-auto-columns: 50px;
  row-gap: 20px;
  column-gap: 40px;
  gap: 10px;
} */

.container > div {
  border: 1px solid black;
}

/*==========================================*/
.container {
  display: grid;
  grid-template-rows: [row1-start] 50px [row1-end row2-start] 50px [row2-end];
  grid-template-columns: repeat(3, 50px [col-start]);
}
